{% extends 'layout.html' %}

{% load bootstrap4 %}

{% block title %}
<title>Login</title>
{% endblock %}


{% block body %}
    <div class="row">
        <div class="col">
        <h1>Login</h1>
            <form action="" method="post" class="form">
                {% csrf_token %}
                {% bootstrap_form form %}
                <a href="{% url 'register' %}">No account?</a>
                {% buttons %}
                    <button type="submit" class="btn btn-primary">
                        登入
                    </button>
                    <a href="{% url 'todo:index' %}" type="cancel" class="btn btn-outline-primary">
                        取消
                    </a>
                {% endbuttons %}
            </form>
        </div>
    </div>
{% endblock %}