<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta>
    {% block title %}

    {% endblock %}


    {% load bootstrap4 %}
    {% bootstrap_css %}
    {% bootstrap_javascript jquery='full' %}

</head>
<body>
<div class="container">
    {% if user.is_authenticated %}
        Hello {{ request.user.username }}
        <a href="{% url 'logout' %}" class="btn btn-primary">登出</a>
    {% else %}
        <a href="{% url 'login' %}" class="btn btn-primary">登入</a>
    {% endif %}

    {% block body %}

    {% endblock %}
</div>


</body>
</html>