{% extends 'layout.html' %}

{% load bootstrap4 %}

{% block title %}
<title>password-reset</title>
{% endblock %}


{% block body %}
    <div class="row">
        <div class="col">
        <h1>password-reset</h1>

        {% if validlink %}
             <form action="" method="post" class="form">
                {% csrf_token %}
                {% bootstrap_form form %}
                {% buttons %}
                    <button type="submit" class="btn btn-primary">
                        submit
                    </button>
                {% endbuttons %}
            </form>
        {% else %}
            <p>Link not valid</p>
        {% endif %}

        </div>
    </div>
{% endblock %}