{% extends 'layout.html' %}

{% load bootstrap4 %}

{% block title %}
<title>Login</title>
{% endblock %}


{% block body %}
    <div class="row">
        <div class="col">
        <h1>Register</h1>
            <form action="" method="post" class="form">
                {% csrf_token %}
                {% bootstrap_form form %}
                <a href="{% url 'login' %}">Already have a account?</a>
                {% buttons %}
                    <button type="submit" class="btn btn-primary">
                        註冊
                    </button>
                {% endbuttons %}
            </form>
        </div>
    </div>
{% endblock %}